@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

:root{
}
*{
    margin:0;
    padding:0;
    scroll-behavior: smooth;
}

/* CSS to disable pointer events on specific headings   */
.pointer-none{
    pointer-events: none;
}
body{
    background-image: url('../../static/images/pinkblue.jpg');
    background-repeat: no-repeat;
    background-size: 1800px 900px;
    background-position: top;
    background-attachment: fixed;
    height:720px;
    color: rgb(81, 0, 0);
}

/* Navbar */
header nav ul{
    display: flex;
    justify-content: start;
    align-items: start;
}
header nav ul a{
    transition: .4s;

    font-family: 'Alegreya Sans SC', sans-serif;
    list-style: none;
    text-decoration: none;
    color:rgb(24, 24, 24);
    margin:3rem;
    font-size: 1.7rem;
}
header nav ul a:hover{
    transition: .4s;
    color: rgb(82, 63, 247);
    transform: translateX(5px);
}
.main{
    position: relative;
}
.main h1{
    font-family: 'Poppins', sans-serif;
    padding:2rem 7rem;
    text-align: center;
    font-size: 4.5rem;
    color:rgb(43, 43, 43);
}
.main h1 span{
    color:rgb(82, 63, 247);
}

.btn{
    transition: .4s;

    /* Center the button*/
    position: relative;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);

    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 1.8rem;
    border:1px solid rgb(0, 0, 0);
    box-shadow: 5px 5px 0px 0px black;
    margin-top:3rem;
    padding:1rem 2.5rem;
    background: transparent;
    cursor:pointer;
}
.btn:hover{
    transition: .4s;
    transform: translate(-48%, -46%);
    box-shadow: none;
}
.main-two{
    display:flex;
    margin:10rem 2rem 10rem; 
    margin-bottom:10rem;
    border-radius: 25px;

    
    
    /*
    box-shadow: 0px 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 14px );
    -webkit-backdrop-filter: blur( 14px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    */
    background: rgba(255, 255, 255, 0.373);
    backdrop-filter: blur( 14px );
    -webkit-backdrop-filter: blur( 14px );
    border: 2px solid rgba( 255, 255, 255, 0.18 );
    
}
/* Open button Div */
#open{
    padding: 3rem 0rem 3rem 3rem;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    transition: 0.5s;
    position:absolute;
}
/* Close button Div */
#close{
    position: sticky;
    font-size:1rem;
    cursor: pointer;
}
/* Menu Icons and Close Icon */
#open i, #close i{
    font-size: 2rem;
    color:black;
}
#close i{
    padding-top:3rem;
}
.main-two .graph{
    width:100%;
}

/* 'Dashboard' heading */
.main-two .graph h1{
    padding: 4rem 0rem 1rem;
    color: rgb(20, 20, 20);
    text-align: center;
    font-family:monospace;
    font-family: 'Poppins', sans-serif;

    font-size: 4.5rem;
}
/* Dashboard Navbar */
.dash-nav{
    height:100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    
    background: rgba(255, 255, 255, 0.304);
    backdrop-filter: blur( 14px );
    -webkit-backdrop-filter: blur( 14px );  


    border-radius: 25px;
}
.dash-nav span{
    transition: 0.5s;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.dash-nav h3, .dash-nav h6{
    width:100%;
    padding-left:2rem;
    
}
.dash-nav h3{
    transition: 0.3s;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    padding: 2rem 0rem 1rem 1.8rem;
    color:black;
}
.dash-nav h6{
    font-family: 'Open Sans', sans-serif;
    margin-top:2rem;
    font-size:1rem;
    color:rgb(47, 47, 47);
    cursor:pointer;
    transition: .4s;

}
.dash-nav h6:hover{
    transition: .4s;
    color: rgb(82, 63, 247);
    transform: translateX(5px);
}
.graph .dashboards h3, 
.graph .dashboards img{
    font-family: 'Open Sans', sans-serif;

    /* Center the image */
    display: block;
    margin:auto;

    /* Center the text above the image*/
    text-align: center;
} 


